<form class="form-horizontal">
  {{partial "client_form"}}

  <div class="form-group">
    <div class="col-xs-10 col-xs-offset-2">
      <button type="submit" class="btn btn-primary" {{action "save"}} {{bind-attr disabled="model.isSaving"}}>Zapisz</button>
      <button type="button" class="btn btn-danger" {{action "destroy"}} {{bind-attr disabled="model.isSaving"}}>Usuń</button>
      {{link-to "Anuluj" "clients" class="btn btn-default" activeClass=null}}
    </div>
  </div>
</form>

