<div class="container">
  <h1>Faktura</h1>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-2">Numer:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{number}}</p>
        {{view Ember.TextField class="form-control hidden-print" valueBinding="number"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2">Data wystawienia:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{dateOfIssue}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dateOfIssue"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2">Data sprzedaży:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{dateOfSale}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dateOfSale"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2">Termin płatności:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{dueDate}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dueDate"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Sprzedawca:</h2>
      {{view Ember.TextArea class="form-control hidden-print" rows="4" valueBinding="seller"}}
    </div>

    <div class="col-md-4">
      <h2>Nabywca:</h2>
      {{view Ember.TextArea class="form-control hidden-print" rows="4" valueBinding="buyer"}}
    </div>
  </div>

  <table class="table table-striped table-condensed">
    <tr>
      <th class="col-xs-4">Nazwa</th>
      <th class="text-right">Liczba</th>
      <th class="text-right col-xs-1">Jednostka miary</th>
      <th class="text-right">Cena netto</th>
      <th class="text-right">Kwota netto</th>
      <th class="text-right col-xs-1">Stawka VAT</th>
      <th class="text-right">Kwota VAT</th>
      <th class="text-right">Cena brutto</th>
      <th class="text-right">Kwota brutto</th>
    </tr>
    {{#each item in content}}
      <tr {{action "edit" item}}>
        <td>
          {{view Ember.TextField class="form-control" valueBinding="item.description"}}
        </td>
        <td class="text-right">
          {{view Ember.TextField type="number" step="0.001" min="0" class="form-control text-right" valueBinding="item.formattedQuantity"}}
        </td>
        <td class="text-right">
          {{view Ember.Select class="form-control" contentBinding="units" valueBinding="item.unit"}}
        </td>
        <td class="text-right">
          {{view Ember.TextField type="number" step="0.01" min="0" class="form-control text-right" valueBinding="item.formattedNetPrice"}}
        </td>
        <td class="text-right">
          {{item.formattedNetAmount}}
        </td>
        <td class="text-right">
          {{view Ember.Select class="form-control" contentBinding="taxRates" valueBinding="item.formattedTaxRate"}}
        </td>
        <td class="text-right">
          {{item.formattedTaxAmount}}
        </td>
        <td class="text-right">
          {{item.formattedGrossPrice}}
        </td>
        <td class="text-right">
          {{item.formattedGrossAmount}}
        </td>
      </tr>
    {{/each}}
  </table>

  <p>
    <strong>Słownie:</strong> dwa tysiące trzysta czterdzieści EUR 94/100
  </p>

  <p>
    {{view Ember.TextArea class="form-control hidden-print" rows="4"}}
  </p>
</div>
