<div class="container">
  <h1>Faktura</h1>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-2">Numer:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{number}}</p>
        {{view Ember.TextField class="form-control hidden-print" valueBinding="number"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2">Data wystawienia:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{dateOfIssue}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dateOfIssue"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2">Data sprzedaży:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{dateOfSale}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dateOfSale"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2">Termin płatności:</label>
      <div class="col-md-2">
        <p class="form-control-static visible-print">{{dueDate}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dueDate"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Sprzedawca:</h2>
      <p class="visible-print">
        <strong>{{sellerFirstLine}}</strong><br>
        {{#each line in sellerRest}}{{line}}<br>{{/each}}
      </p>
      {{view Ember.TextArea class="form-control hidden-print" rows="4" valueBinding="seller"}}
    </div>

    <div class="col-md-4">
      <h2>Nabywca:</h2>
      <p class="visible-print">
        <strong>{{buyerFirstLine}}</strong><br>
        {{#each line in buyerRest}}{{line}}<br>{{/each}}
      </p>
      {{view Ember.TextArea class="form-control hidden-print" rows="4" valueBinding="buyer"}}
    </div>
  </div>

  <table class="table table-striped table-condensed">
    <tr>
      <th class="col-xs-4">Nazwa</th>
      <th class="text-right">Liczba</th>
      <th class="text-right col-xs-1">Jednostka miary</th>
      <th class="text-right">Cena netto</th>
      <th class="text-right">Wartość netto</th>
      <th class="text-right col-xs-1">Stawka VAT</th>
      <th class="text-right">Wartość VAT</th>
      <th class="text-right">Wartość brutto</th>
      <th class="hidden-print"></th>
    </tr>
    {{#each item in content}}
      <tr>
        <td>
          <p class="visible-print">{{item.description}}</p>
          {{view Ember.TextField class="form-control hidden-print" valueBinding="item.description"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.formattedQuantity}}</p>
          {{view Ember.TextField type="number" step="0.001" min="0" class="form-control text-right hidden-print" valueBinding="item.formattedQuantity"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.unit}}</p>
          {{view Ember.Select class="form-control hidden-print" contentBinding="units" valueBinding="item.unit"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{integerToCurrency item.netPrice}}</p>
          {{view Ember.TextField type="number" step="0.01" min="0" class="form-control text-right hidden-print" valueBinding="item.formattedNetPrice"}}
        </td>
        <td class="text-right">
          {{integerToCurrency item.netAmount}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.formattedTaxRate}}</p>
          {{view Ember.Select class="form-control hidden-print" contentBinding="taxRates" valueBinding="item.formattedTaxRate"}}
        </td>
        <td class="text-right">
          {{integerToCurrency item.taxAmount}}
        </td>
        <td class="text-right">
          {{integerToCurrency item.grossAmount}}
        </td>
        <td class="hidden-print">
          <button class="btn btn-danger">❌</button>
        </td>
      </tr>
    {{/each}}
    <tr class="hidden-print">
      <td colspan="9"><button class="btn btn-success btn-block">✚</button></td>
    </tr>
  </table>

  <p class="visible-print">
    {{#each line in commentLines}}{{line}}<br>{{/each}}
  </p>

  <p class="hidden-print">
    {{view Ember.TextArea class="form-control" rows="4" valueBinding="comment"}}
  </p>
</div>
