<nav class="navbar navbar-default hidden-print" role="navigation">
  <div class="container">
    {{link-to "Faktura" "index" class="navbar-brand"}}
    <ul class="nav navbar-nav">
      <li>
        <a href="javascript:void(0)" {{action "check"}}>Sprawdź</a>
      </li>
      <li>
        <a href="javascript:void(0)" {{action "login" "persona"}}>Zaloguj</a>
      </li>
      <li>
        <a href="javascript:void(0)" {{action "logout"}}>Wyloguj</a>
      </li>
    </ul>
    <p class="navbar-text navbar-right">
      Signed in as {{controllers.currentUser.email}}
    </p>
  </div>
</nav>
