<nav class="navbar navbar-default hidden-print" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          Waluta <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {{#each currency in Faktura.currencies}}
            <li><a href="javascript:void(0)" {{action "setCurrency" currency}}>{{currency}}</a></li>
          {{/each}}
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          Język <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {{#each language in Faktura.languages}}
            <li><a href="javascript:void(0)" {{action "setLanguage" language}}>{{language}}</a></li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>
    <strong>Faktura {{#if isEnglish}}/ Invoice{{/if}}</strong>
    <button class="btn btn-default hidden-print" {{action "save"}}>Zapisz</button>
    <button class="btn btn-default hidden-print" {{action "print"}}>Drukuj</button>
  </h1>

  <br>

  <div class="visible-print">
    <p>
      {{#if isEnglish}}
        Numer / Number:
      {{else}}
        Numer:
      {{/if}}
      <strong>{{number}}</strong>
    </p>
    <p>
      {{#if isEnglish}}
        Data wystawienia / Date of issue:
      {{else}}
        Data wystawienia:
      {{/if}}
      <strong>{{dateOfIssue}}</strong>
    </p>
    <p>
      {{#if isEnglish}}
        Data sprzedaży / Date of sale:
      {{else}}
        Data sprzedaży:
      {{/if}}
      <strong>{{dateOfSale}}</strong>
    </p>
    <p>
      {{#if isEnglish}}
        Termin płatności / Due date:
      {{else}}
        Termin płatności:
      {{/if}}
      <strong>{{dueDate}}</strong>
    </p>
  </div>

  <div class="form-horizontal hidden-print">
    <div class="form-group">
      <label class="control-label col-xs-3" for="number">
        Numer {{#if isEnglish}}/ Number{{/if}}
      </label>
      <div class="col-xs-3">
        {{input class="form-control hidden-print" valueBinding="number" id="number"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3" for="dateOfIssue">
        Data wystawienia {{#if isEnglish}}/ Date of issue{{/if}}
      </label>
      <div class="col-xs-3">
        {{input type="date" class="form-control hidden-print" valueBinding="dateOfIssue" id="dateOfIssue" disabledBinding="isLoadingExchangeRate"}}
      </div>
      <div class="col-xs-6">
        <p class="help-block text-muted">
          {{#if isLoadingExchangeRate}}
            Trwa ładowanie kursów walut, proszę czekać…
          {{/if}}
        </p>
      </div>
    </div>

   <div class="form-group">
      <label class="control-label col-xs-3" for="dateOfSale">
        Data sprzedaży {{#if isEnglish}}/ Date of sale{{/if}}
      </label>
      <div class="col-xs-3">
        {{input type="date" class="form-control hidden-print" valueBinding="dateOfSale" id="dateOfSale"}}
      </div>
   </div>

   <div class="form-group">
      <label class="control-label col-xs-3" for="dueDate">
        Termin płatności {{#if isEnglish}}/ Due date{{/if}}
      </label>
      <div class="col-xs-3">
        {{input type="date" class="form-control hidden-print" valueBinding="dueDate" id="dueDate"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h4>
        <label for="seller">
          Sprzedawca {{#if isEnglish}}/ Seller{{/if}}
        </label>
      </h4>
      <p class="visible-print">
        <strong>{{sellerFirstLine}}</strong><br>
        {{#each line in sellerRest}}{{line}}<br>{{/each}}
      </p>
      {{textarea class="form-control hidden-print" rows="4" valueBinding="seller" id="seller"}}
    </div>

    <div class="col-xs-6">
      <h4>
        <label for="buyer">
          Nabywca {{#if isEnglish}}/ Buyer{{/if}}
        </label>
      </h4>
      <p class="visible-print">
        <strong>{{buyerFirstLine}}</strong><br>
        {{#each line in buyerRest}}{{line}}<br>{{/each}}
      </p>
      {{textarea class="form-control hidden-print" rows="4" valueBinding="buyer" id="buyer"}}
    </div>
  </div>

  <br>

  {{#if isUsingExchangeRate}}
    <p>Kwoty podatku VAT zostały przeliczone po kursie średnim Narodowego Banku Polskiego z dnia {{exchangeDate}}</p>
  {{/if}}

  <table class="table table-striped table-condensed">
    <tr>
      <th class="col-xs-4">
        Nazwa
      </th>
      <th class="text-right">
        Liczba
      </th>
      <th class="text-right col-xs-1">
        J.m.
      </th>
      <th class="text-right">
        Cena netto
      </th>
      <th class="text-right">
        Wartość netto
      </th>
      <th class="text-right col-xs-1">
        Stawka VAT
      </th>
      <th class="text-right">
        Wartość VAT
      </th>
      <th class="text-right">
        Wartość brutto
      </th>
      <th class="hidden-print"></th>
    </tr>
    {{#if isEnglish}}
      <tr>
        <th class="col-xs-4">
          Name
        </th>
        <th class="text-right">
          Quantity
        </th>
        <th class="text-right col-xs-1">
          Unit
        </th>
        <th class="text-right">
          Net price
        </th>
        <th class="text-right">
          Net amount
        </th>
        <th class="text-right col-xs-1">
          VAT rate
        </th>
        <th class="text-right">
          VAT amount
        </th>
        <th class="text-right">
          Gross amount
        </th>
        <th class="hidden-print"></th>
      </tr>
    {{/if}}

    {{#each item in items}}
      <tr>
        <td>
          <p class="visible-print"><small>{{item.description}}</small></p>
          {{input class="form-control hidden-print" valueBinding="item.description"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.formattedQuantity}}</p>
          {{input type="number" step="0.001" min="0" class="form-control text-right hidden-print" valueBinding="item.formattedQuantity"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.unit}} {{#if isEnglish}}/ {{item.englishUnit}}{{/if}}</p>
          {{view Ember.Select class="form-control hidden-print" contentBinding="Faktura.units" valueBinding="item.unit"}}
        </td>
        <td class="text-right">
          <p class="visible-print">
            {{integerToCurrency item.netPrice}}&nbsp;<small class="text-muted">{{currency}}</small>
          </p>
          {{input type="number" step="0.01" min="0" class="form-control text-right hidden-print" valueBinding="item.formattedNetPrice"}}
        </td>
        <td class="text-right">
          <p class="visible-print">
            {{item.formattedNetAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
          </p>
          {{input class="form-control text-right hidden-print" valueBinding="item.formattedNetAmount" disabled="disabled"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.formattedTaxRate}}</p>
          {{view Ember.Select class="form-control hidden-print" contentBinding="Faktura.taxRates" valueBinding="item.formattedTaxRate"}}
        </td>
        <td class="text-right">
          <p class="visible-print">
            {{item.formattedTaxAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
          </p>
          {{input class="form-control text-right hidden-print" valueBinding="item.formattedTaxAmount" disabled="disabled"}}
        </td>
        <td class="text-right">
          <p class="visible-print">
            {{item.formattedGrossAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
          </p>
          {{input class="form-control text-right hidden-print" valueBinding="item.formattedGrossAmount" disabled="disabled"}}
        </td>
        <td class="hidden-print">
          <button class="btn btn-remove" {{action "removeItem" item}}><strong>×</strong></button>
        </td>
      </tr>
    {{/each}}
    <tr class="hidden-print">
      <td colspan="9" class="text-center"><button class="btn btn-add btn-block" {{action "addItem"}}><strong>+</strong></button></td>
    </tr>
    <tr>
      <th class="text-right" colspan="4">
        Razem {{#if isEnglish}}/ Total{{/if}}
      </th>
      <td class="text-right">
        {{integerToCurrency totalNetAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
      </td>
      <td></td>
      <td class="text-right">
        {{integerToCurrency totalTaxAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
        {{#if isUsingExchangeRate}}
          {{integerToCurrency totalTaxAmountPLN}}&nbsp;<small class="text-muted">PLN</small>
        {{/if}}
      </td>
      <td class="text-right">
        {{integerToCurrency totalGrossAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
      </td>
      <td class="hidden-print"></td>
    </tr>
    {{#each subTotal in subTotalsPLN}}
      <tr>
        <th class="text-right" colspan="4">
          W tym {{#if isEnglish}}/ Including{{/if}}
        </th>
        <td class="text-right">
          {{integerToCurrency subTotal.netAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
        </td>
        <td class="text-right">
          {{subTotal.formattedTaxRate}}
        </td>
        <td class="text-right">
          {{integerToCurrency subTotal.taxAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
          {{#if isUsingExchangeRate}}
            {{integerToCurrency subTotal.taxAmountPLN}}&nbsp;<small class="text-muted">PLN</small>
          {{/if}}
        </td>
        <td class="text-right">
          {{integerToCurrency subTotal.grossAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
        </td>
        <td class="hidden-print"></td>
      </tr>
    {{/each}}
  </table>

  <div class="row">
    <div class="col-xs-12">
      <p>
        Słownie: <strong>{{totalGrossAmountInWords}}</strong>
      </p>
      {{#if isEnglish}}
        <p>
          In words: <strong>{{englishTotalGrossAmountInWords}}</strong>
        </p>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label for="comment" class="hidden-print">
        Uwagi{{#if isEnglish}} / Comments{{/if}}
      </label>
      <p class="visible-print">
        {{#each line in commentLines}}{{line}}<br>{{/each}}
      </p>
      {{textarea class="form-control hidden-print" rows="4" valueBinding="comment" id="comment"}}
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-6">
      {{input class="form-control text-center hidden-print" valueBinding="buyerSignature" id="buyerSignature"}}
      <p class="visible-print text-center signature">&nbsp;{{buyerSignature}}&nbsp;</p>
      <label for="buyerSignature">Podpis nabywcy{{#if isEnglish}} / Buyer's signature{{/if}}</label>
    </div>
    <div class="col-xs-6">
      {{input class="form-control text-center hidden-print" valueBinding="issuerSignature" id="issuerSignature"}}
      <p class="visible-print text-center signature">&nbsp;{{issuerSignature}}&nbsp;</p>
      <label for="issuerSignature">Podpis wystawiającego{{#if isEnglish}} / Issuer's signature{{/if}}</label>
    </div>
  </div>

  <br>
  <br>
</div>
