<nav class="navbar navbar-default hidden-print" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          Waluta <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {{#each currency in Faktura.currencies}}
            <li><a href="javascript:void(0)" {{action "setCurrency" currency}}>{{currency}}</a></li>
          {{/each}}
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
          Język <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          {{#each language in Faktura.languages}}
            <li><a href="javascript:void(0)" {{action "setLanguage" language}}>{{language}}</a></li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>
    Faktura {{#if isEnglish}}/ Invoice{{/if}}
  </h1>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="number">
        Numer {{#if isEnglish}}/ Number{{/if}}
      </label>
      <div class="col-sm-2">
        <p class="form-control-static visible-print">{{number}}</p>
        {{view Ember.TextField class="form-control hidden-print" valueBinding="number" id="number"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="dateOfIssue">
        Data wystawienia {{#if isEnglish}}/ Date of issue{{/if}}
      </label>
      <div class="col-sm-2">
        <p class="form-control-static visible-print">{{dateOfIssue}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dateOfIssue" id="dateOfIssue"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="dateOfSale">
        Data sprzedaży {{#if isEnglish}}/ Date of sale{{/if}}
      </label>
      <div class="col-sm-2">
        <p class="form-control-static visible-print">{{dateOfSale}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dateOfSale" id="dateOfSale"}}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="dueDate">
        Termin płatności {{#if isEnglish}}/ Due date{{/if}}
      </label>
      <div class="col-sm-2">
        <p class="form-control-static visible-print">{{dueDate}}</p>
        {{view Ember.TextField type="date" class="form-control hidden-print" valueBinding="dueDate" id="dueDate"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2>
        Sprzedawca {{#if isEnglish}}/ Seller{{/if}}
      </h2>
      <p class="visible-print">
        <strong>{{sellerFirstLine}}</strong><br>
        {{#each line in sellerRest}}{{line}}<br>{{/each}}
      </p>
      {{view Ember.TextArea class="form-control hidden-print" rows="4" valueBinding="seller"}}
    </div>

    <div class="col-sm-4">
      <h2>
        Nabywca {{#if isEnglish}}/ Buyer{{/if}}
      </h2>
      <p class="visible-print">
        <strong>{{buyerFirstLine}}</strong><br>
        {{#each line in buyerRest}}{{line}}<br>{{/each}}
      </p>
      {{view Ember.TextArea class="form-control hidden-print" rows="4" valueBinding="buyer"}}
    </div>
  </div>

  <br>

  <table class="table table-striped table-condensed">
    <tr>
      <th class="col-xs-4">
        Nazwa
      </th>
      <th class="text-right">
        Liczba
      </th>
      <th class="text-right col-xs-1">
        Jednostka miary
      </th>
      <th class="text-right">
        Cena netto
      </th>
      <th class="text-right">
        Wartość netto
      </th>
      <th class="text-right col-xs-1">
        Stawka VAT
      </th>
      <th class="text-right">
        Wartość VAT
      </th>
      <th class="text-right">
        Wartość brutto
      </th>
      <th class="hidden-print"></th>
    </tr>
    {{#if isEnglish}}
      <tr>
        <th class="col-xs-4">
          Name
        </th>
        <th class="text-right">
          Quantity
        </th>
        <th class="text-right col-xs-1">
          Unit
        </th>
        <th class="text-right">
          Net price
        </th>
        <th class="text-right">
          Net amount
        </th>
        <th class="text-right col-xs-1">
          VAT rate
        </th>
        <th class="text-right">
          VAT amount
        </th>
        <th class="text-right">
          Gross amount
        </th>
        <th class="hidden-print"></th>
      </tr>
    {{/if}}

    {{#each item in content}}
      <tr>
        <td>
          <p class="visible-print">{{item.description}}</p>
          {{view Ember.TextField class="form-control hidden-print" valueBinding="item.description"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.formattedQuantity}}</p>
          {{view Ember.TextField type="number" step="0.001" min="0" class="form-control text-right hidden-print" valueBinding="item.formattedQuantity"}}
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.unit}} {{#if isEnglish}}/ {{item.englishUnit}}{{/if}}</p>
          {{view Ember.Select class="form-control hidden-print" contentBinding="Faktura.units" valueBinding="item.unit"}}
        </td>
        <td class="text-right">
          <p class="visible-print">
            {{integerToCurrency item.netPrice}}&nbsp;<small class="text-muted">{{currency}}</small>
          </p>
          {{view Ember.TextField type="number" step="0.01" min="0" class="form-control text-right hidden-print" valueBinding="item.formattedNetPrice"}}
        </td>
        <td class="text-right">
          {{integerToCurrency item.netAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
        </td>
        <td class="text-right">
          <p class="visible-print">{{item.formattedTaxRate}}</p>
          {{view Ember.Select class="form-control hidden-print" contentBinding="Faktura.taxRates" valueBinding="item.formattedTaxRate"}}
        </td>
        <td class="text-right">
          {{integerToCurrency item.taxAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
        </td>
        <td class="text-right">
          {{integerToCurrency item.grossAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
        </td>
        <td class="hidden-print">
          <button class="btn btn-danger" {{action "removeItem" item}}>❌</button>
        </td>
      </tr>
    {{/each}}
    <tr>
      <th class="text-right" colspan="4">Razem {{#if isEnglish}}/ Total{{/if}}</th>
      <td class="text-right">{{integerToCurrency totalNetAmount}}&nbsp;<small class="text-muted">{{currency}}</td>
      <td></td>
      <td class="text-right">{{integerToCurrency totalTaxAmount}}&nbsp;<small class="text-muted">{{currency}}</td>
      <td class="text-right">{{integerToCurrency totalGrossAmount}}&nbsp;<small class="text-muted">{{currency}}</td>
      <td></td>
    </tr>
    {{#each subtotal in subTotals}}
      <tr>
        <th class="text-right" colspan="4">W tym {{#if isEnglish}}/ Including{{/if}}</th>
        <td class="text-right">{{integerToCurrency subtotal.netAmount}}&nbsp;<small class="text-muted">{{currency}}</td>
        <td class="text-right">{{subtotal.formattedTaxRate}}</td>
        <td class="text-right">{{integerToCurrency subtotal.taxAmount}}&nbsp;<small class="text-muted">{{currency}}</td>
        <td class="text-right">{{integerToCurrency subtotal.grossAmount}}&nbsp;<small class="text-muted">{{currency}}</td>
        <td></td>
      </tr>
    {{/each}}
    <tr class="hidden-print">
      <td colspan="9"><button class="btn btn-success btn-block" {{action "addItem"}}>✚</button></td>
    </tr>
  </table>

  <p class="visible-print">
    {{#each line in commentLines}}{{line}}<br>{{/each}}
  </p>

  <p class="hidden-print">
    {{view Ember.TextArea class="form-control" rows="4" valueBinding="comment"}}
  </p>

  <br>

  <div class="row">
    <div class="col-sm-4">
      <p class="form-control-static visible-print text-center">{{buyerSignature}}</p>
      {{view Ember.TextField class="form-control text-center hidden-print" valueBinding="buyerSignature" id="buyerSignature"}}
      <hr>
      <label for="buyerSignature">Podpis nabywcy{{#if isEnglish}} / Buyer's signature{{/if}}</label>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="form-control-static visible-print text-center">{{issuerSignature}}</p>
      {{view Ember.TextField class="form-control text-center hidden-print" valueBinding="issuerSignature" id="issuerSignature"}}
      <hr>
      <label for="issuerSignature">Podpis wystawiającego{{#if isEnglish}} / Issuer's signature{{/if}}</label>
    </div>
  </div>
</div>
