<form class="form-horizontal">
  {{partial "invoice_form"}}

  <div class="form-group">
    <div class="col-sm-12 text-right">
      <button type="submit" class="btn btn-primary" {{action "saveRecord"}} disabled={{model.isSaving}}>Zapisz fakturę</button>
      <button type="button" class="btn btn-danger" {{action "deleteRecord"}}>Usuń fakturę</button>
      {{link-to "Anuluj" "invoice.show" form.model class="btn btn-default" activeClass=null}}
    </div>
  </div>
</form>

