<h1>
  <strong>
    Faktura
    {{#if model.isEnglish}}
      / Invoice
    {{/if}}
  </strong>
</h1>

<br>

<div>
  <p>
    {{#if model.isEnglish}}
      Numer / Number:
    {{else}}
      Numer:
    {{/if}}
    <strong>{{model.number}}</strong>
  </p>
  <p>
    {{#if model.isEnglish}}
      Data wystawienia / Date of issue:
    {{else}}
      Data wystawienia:
    {{/if}}
    <strong>{{model.issueDate}}</strong>
  </p>
  <p>
    {{#if model.isEnglish}}
      Data dostawy towarów/wykonania usługi / Delivery date of goods/services:
    {{else}}
      Data dostawy towarów/wykonania usługi:
    {{/if}}
    <strong>{{model.deliveryDate}}</strong>
  </p>
  <p>
    {{#if model.isEnglish}}
      Termin płatności / Due date:
    {{else}}
      Termin płatności:
    {{/if}}
    <strong>{{model.dueDate}}</strong>
  </p>

  {{#if model.isExchanging}}
    <p>
      Kwoty podatku VAT zostały przeliczone po kursie średnim {{model.currencyCode}} z dnia <strong>{{model.exchangeDate}}</strong>,
      wynoszącym <strong>{{format-cents exchangeRate precision=4}}</strong> PLN.
    </p>
  {{/if}}
</div>

<div class="row">
  <div class="col-xs-6">
    <h4>
      <strong>
        Sprzedawca
        {{#if model.isEnglish}}
          / Seller
        {{/if}}
      </strong>
    </h4>
    <p>
      <strong>{{model.sellerFirstLine}}</strong><br>
      {{#each sellerRest as |line|}}
        {{line}}<br>
      {{/each}}
    </p>
  </div>

  <div class="col-xs-6">
    <h4>
      <strong>
        Nabywca
        {{#if isEnglish}}
          / Buyer
        {{/if}}
      </strong>
    </h4>
    <p>
      <strong>{{buyerFirstLine}}</strong><br>
      {{#each line in buyerRest}}{{line}}<br>{{/each}}
    </p>
  </div>
</div>

<br>

<table class="table table-condensed">
  <tr>
    <th class="col-xs-4">
      Nazwa
    </th>
    <th class="text-right">
      Liczba
    </th>
    <th class="text-right col-xs-1">
      J.m.
    </th>
    <th class="text-right">
      Cena netto
    </th>
    <th class="text-right">
      Wartość netto
    </th>
    <th class="text-right col-xs-1">
      Stawka VAT
    </th>
    <th class="text-right">
      Wartość VAT
    </th>
    <th class="text-right">
      Wartość brutto
    </th>
  </tr>

  {{#if model.isEnglish}}
    <tr>
      <th class="col-xs-4">
        Name
      </th>
      <th class="text-right">
        Quantity
      </th>
      <th class="text-right col-xs-1">
        Unit
      </th>
      <th class="text-right">
        Net price
      </th>
      <th class="text-right">
        Net amount
      </th>
      <th class="text-right col-xs-1">
        VAT rate
      </th>
      <th class="text-right">
        VAT amount
      </th>
      <th class="text-right">
        Gross amount
      </th>
    </tr>
  {{/if}}

  {{#each model.items as |item|}}
    <tr>
      <td>
        <p>
          <small>{{item.description}}</small>
        </p>
      </td>
      <td class="text-right">
        <p>{{item.quantity}}</p>
      </td>
      <td class="text-right">
        <p>
          {{item.unit.name}}
          {{#if model.isEnglish}}
            <br>{{item.unit.nameEN}}
          {{/if}}
        </p>
      </td>
      <td class="text-right">
        <p>
          {{format-cents item.netPrice}}
          <small>{{model.currency.code}}</small>
        </p>
      </td>
      <td class="text-right">
        <p>
          {{format-cents item.netAmount}}
          <small>{{model.currency.code}}</small>
        </p>
      </td>
      <td class="text-right">
        <p>
          {{item.taxRate.name}}
          {{#if model.isEnglish}}
            <br>{{item.taxRate.nameEN}}
          {{/if}}
        </p>
      </td>
      <td class="text-right">
        <p>
          {{format-cents item.taxAmount}}
          <small>{{model.currency.code}}</small>
        </p>
      </td>
      <td class="text-right">
        <p>
          {{format-cents item.grossAmount}}
          <small>{{model.currency.code}}</small>
        </p>
      </td>
    </tr>
  {{/each}}
  <tr>
    <th class="text-right" colspan="4">
      Razem
      {{#if model.isEnglish}}
        / Total
      {{/if}}
    </th>
    <td class="text-right">
      {{format-cents model.totalNetAmount}}
      <small>{{model.currency.code}}</small>
    </td>
    <td></td>
    <td class="text-right">
      {{format-cents model.totalTaxAmount}}
      <small>{{model.currency.code}}</small>
      {{#if model.isExchanging}}
        <br>{{format-cents model.totalTaxAmountPLN}}
        <small>PLN</small>
      {{/if}}
    </td>
    <td class="text-right">
      {{format-cents model.totalGrossAmount}}
      <small>{{model.currency.code}}</small>
    </td>
  </tr>
  {{#each subTotals as |subTotal|}}
    <tr class="subtotal">
      <th class="text-right" colspan="4">
        W tym
        {{#if model.isEnglish}}
          / Including
        {{/if}}
      </th>
      <td class="text-right">
        {{format-cents subTotal.netAmount}}
        <small>{{model.currency.code}}</small>
      </td>
      <td class="text-right">
        {{subTotal.taxRate.name}}
        {{#if isEnglish}}
          <br>{{subTotal.taxRate.nameEN}}
        {{/if}}
      </td>
      <td class="text-right">
        {{format-cents subTotal.taxAmount}}
        <small>{{currency.code}}</small>
        {{#if model.isExchanging}}
          <br>{{format-cents subTotal.taxAmountPLN}}
          <small>PLN</small>
        {{/if}}
      </td>
      <td class="text-right">
        {{format-cents subTotal.grossAmount}}
        <small>{{currency.code}}</small>
      </td>
    </tr>
  {{/each}}
</table>

<div class="row">
  <div class="col-xs-12">
    <p>
      Słownie: {{model.totalGrossAmountInWords}}
    </p>
    {{#if model.isEnglish}}
      <p>
        In words: {{model.englishTotalGrossAmountInWords}}
      </p>
    {{/if}}
  </div>
</div>

{{#if model.accountNumber}}
  <div class="row">
    <div class="col-xs-12">
      <h4>
        <strong>
          Płatność
          {{#if model.isEnglish}}
            / Payment
          {{/if}}
        </strong>
      </h4>
      {{#if model.accountBankName}}
        <p>
          <strong>{{model.accountBankName}}</strong>
        </p>
      {{/if}}
      {{#if model.accountSwift}}
        <p>
          SWIFT: <strong>{{model.accountSwift}}</strong>
        </p>
      {{/if}}
      <p>
        IBAN: <strong>{{model.accountNumber}}</strong>
      </p>
    </div>
  </div>
{{/if}}

{{#if model.comment}}
  <div class="row">
    <div class="col-xs-12">
      <h4>
        <strong>
          Uwagi
          {{#if model.isEnglish}}
            / Comments
          {{/if}}
        </strong>
      </h4>
      <p>
        {{#each commentLines as |line|}}
          {{line}}<br>
        {{/each}}
      </p>
    </div>
  </div>
{{/if}}

<br>

<div class="row">
  <div class="col-xs-6">
    {{#if model.sellerSignature}}
      <p class="text-center signature">{{model.sellerSignature}}</p>
      <p>
        Podpis wystawiającego
        {{#if model.isEnglish}}
          / Issuer's signature
        {{/if}}
      </p>
    {{/if}}
  </div>
  <div class="col-xs-6">
    {{#if model.buyerSignature}}
      <p class="text-center signature">{{model.buyerSignature}}</p>
      <p>
        Podpis nabywcy
        {{#if model.isEnglish}}
          / Buyer's signature
        {{/if}}
      </p>
    {{/if}}
  </div>
</div>

<div class="row hidden-print">
  <div class="col-xs-12 text-right">
    <a href="javascript:window.print()" class="btn btn-primary">Drukuj fakturę</a>
    {{link-to "Edytuj fakturę" "invoice.edit" model class="btn btn-warning"}}
    {{link-to "Anuluj" "invoices" class="btn btn-default" active=null}}
  </div>
</div>
<br>
