{{#if firstObject}}
  <table class="table table-striped">
    <tr>
      <th>Numer</th>
      <th class="text-center">Data wystawienia</th>
      <th class="text-center">Termin płatności</th>
      <th>Nabywca</th>
      <th class="text-right">Kwota brutto</th>
      <th class="text-center">Opłacona?</th>
      <th></th>
    </tr>
    {{#each invoice in controller}}
      <tr {{bind-attr class="invoice.isOverdue:danger"}}>
        <td>
          {{invoice.number}}
        </td>
        <td class="text-center">
          {{invoice.issueDate}}
        </td>
        <td class="text-center">
          {{invoice.dueDate}}
        </td>
        <td>
          {{invoice.buyerFirstLine}}
        </td>
        <td class="text-right">
          {{format-cents invoice.totalGrossAmount}}&nbsp;<small>{{invoice.currencyCode}}</small>{{#if invoice.isForeignCurrency}}<br>{{format-cents invoice.totalGrossAmountPLN}}&nbsp;<small>PLN</small>{{/if}}
        </td>
        <td class="text-center">
          {{#if invoice.isPaid}}
            <a href="javascript:;" {{action "markAsUnpaidInvoice" invoice}}>tak</a>
          {{else}}
            <a href="javascript:;" {{action "markAsPaidInvoice" invoice}}>nie</a>
          {{/if}}
        </td>
        <td class="text-right">
          {{link-to "Zobacz podgląd" "invoice.show" invoice}}
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <p>Nie utworzono jeszcze żadnej faktury.</p>
{{/if}}

{{link-to "Utwórz nową fakturę" "invoices.new" class="btn btn-success" active=null}}
