<div class="form-group" {{bind-attr class="form.errors.name.firstObject:has-error"}}>
  <label for="client-name" class="col-xs-2 control-label">
    Nazwa
  </label>
  <div class="col-xs-5">
    {{input valueBinding="form.name" class="form-control" id="client-name"}}
  </div>
  <div class="col-xs-5">
    <span class="help-block">{{form.errors.name.firstObject}}</span>
  </div>
</div>

<div class="form-group" {{bind-attr class="form.errors.address.firstObject:has-error"}}>
  <label for="client-address" class="col-xs-2 control-label">
    Adres
  </label>
  <div class="col-xs-5">
    {{textarea valueBinding="form.address" class="form-control" id="client-address" rows=3}}
  </div>
  <div class="col-xs-5">
    <span class="help-block">{{form.errors.address.firstObject}}</span>
  </div>
</div>

<div class="form-group" {{bind-attr class="form.errors.vatin.firstObject:has-error"}}>
  <label for="client-vatin" class="col-xs-2 control-label">
    NIP
  </label>
  <div class="col-xs-5">
    {{input valueBinding="form.vatin" class="form-control" id="client-vatin"}}
  </div>
  <div class="col-xs-5">
    <span class="help-block">{{form.errors.vatin.firstObject}}</span>
  </div>
</div>
