<table class="table table-striped">
  <tr>
    <th>Opis</th>
    <th class="text-center">Nazwa banku</th>
    <th class="text-center">Numer rachunku</th>
    <th class="text-center">SWIFT</th>
    <th></th>
  </tr>
  {{#each account in controller}}
    <tr>
      <td>{{account.description}}</td>
      <td class="text-center">{{account.bankName}}</td>
      <td class="text-center">{{account.number}}</td>
      <td class="text-center">{{account.swift}}</td>
      <td class="text-right">{{link-to "Edytuj" "account.edit" account}}</td>
    </tr>
  {{/each}}
</table>

{{link-to "Dodaj nowy rachunek bankowy" "accounts.new" class="btn btn-success" active=null}}
