{{#if firstObject}}
  <ul class="media-list">
    {{#each client in controller}}
      <li class="media">
        {{#link-to "client.edit" client class="pull-left"}}
        <img height="36" width="36" class="img-circle pull-left" {{bind-attr src="client.gravatarURL"}}>
        {{/link-to}}
        <div class="media-body">
          <h4 class="media-heading">
            {{link-to client.contactName "client.edit" client}}
          </h4>
          <p>{{client.companyName}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Nie dodano jeszcze żadnego klienta.</p>
{{/if}}

<br>

{{link-to "Dodaj nowego klienta" "clients.new" class="btn btn-success" active=null}}
