{{#if content}}
  <ul class="media-list">
    {{#each clients as |client|}}
      <li data-test-clients="true" class="media">
        {{#link-to "client.edit" client class="pull-left"}}
          <img height="36" width="36" class="img-circle pull-left" src={{client.gravatarURL}}>
        {{/link-to}}
        <div data-test-client-id={{client.id}} class="media-body">
          <h4 data-test-client-contact-name="true" class="media-heading">
            {{link-to client.contactName "client.edit" client data-test-client-visit}}
          </h4>
          <p data-test-client-company-name="true">{{client.companyName}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
  <br>
{{else}}
  <p>Nie dodano jeszcze żadnego klienta.</p>
{{/if}}

{{link-to "Dodaj nowego klienta" "clients.new" data-test-new-client class="btn btn-success" active=null}}
