<fieldset>
  <legend>Rachunek bankowy</legend>

  <div class="form-group" {{bind-attr class="errors.bankName.firstObject:has-error"}}>
    <label for="account-bank-name" class="col-sm-2 control-label">
      Nazwa banku
    </label>
    <div class="col-sm-5">
      {{input value=bankName class="form-control" id="account-bank-name"}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">{{errors.bankName.firstObject}}</span>
    </div>
  </div>

  <div class="form-group" {{bind-attr class="errors.swift.firstObject:has-error"}}>
    <label for="account-swift" class="col-sm-2 control-label">
      Kod SWIFT
    </label>
    <div class="col-sm-5">
      {{input value=swift class="form-control" id="account-swift"}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">{{errors.swift.firstObject}}</span>
    </div>
  </div>

  <div class="form-group" {{bind-attr class="errors.number.firstObject:has-error"}}>
    <label for="account-number" class="col-sm-2 control-label">
      Numer rachunku
    </label>
    <div class="col-sm-5">
      {{input value=number class="form-control" id="account-number"}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">{{errors.number.firstObject}}</span>
    </div>
  </div>

  <div class="form-group" {{bind-attr class="errors.description.firstObject:has-error"}}>
    <label for="account-description" class="col-sm-2 control-label">
      Opis
    </label>
    <div class="col-sm-5">
      {{input value=description class="form-control" id="account-description"}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">{{errors.description.firstObject}}</span>
    </div>
  </div>
</fieldset>
