<fieldset>
  <legend>Firma</legend>

  <div class="form-group" {{bind-attr class="errors.companyName.firstObject:has-error"}}>
    <label for="client-company-name" class="col-xs-2 control-label">
      Nazwa
    </label>
    <div class="col-xs-5">
      {{input valueBinding="companyName" class="form-control" id="client-company-name"}}
    </div>
    <div class="col-xs-5">
      <span class="help-block">{{errors.companyName.firstObject}}</span>
    </div>
  </div>

  <div class="form-group" {{bind-attr class="errors.address.firstObject:has-error"}}>
    <label for="client-address" class="col-xs-2 control-label">
      Adres
    </label>
    <div class="col-xs-5">
      {{textarea valueBinding="address" class="form-control" id="client-address" rows=3}}
    </div>
    <div class="col-xs-5">
      <span class="help-block">{{errors.address.firstObject}}</span>
    </div>
  </div>

  <div class="form-group" {{bind-attr class="errors.vatin.firstObject:has-error"}}>
    <label for="client-vatin" class="col-xs-2 control-label">
      NIP
    </label>
    <div class="col-xs-5">
      {{input valueBinding="vatin" class="form-control" id="client-vatin"}}
    </div>
    <div class="col-xs-5">
      <span class="help-block">{{errors.vatin.firstObject}}</span>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Osoba kontaktowa</legend>

  <div class="form-group" {{bind-attr class="errors.contactName.firstObject:has-error"}}>
    <label for="client-contact-name" class="col-xs-2 control-label">
      Imię i nazwisko
    </label>
    <div class="col-xs-5">
      {{input valueBinding="contactName" class="form-control" id="client-contact-name"}}
    </div>
    <div class="col-xs-5">
      <span class="help-block">{{errors.contactName.firstObject}}</span>
    </div>
  </div>

  <div class="form-group" {{bind-attr class="errors.contactEmail.firstObject:has-error"}}>
    <label for="client-contact-email" class="col-xs-2 control-label">
      Adres e-mail
    </label>
    <div class="col-xs-5">
      {{input valueBinding="contactEmail" class="form-control" id="client-contact-email" type="email"}}
    </div>
    <div class="col-xs-5">
      <span class="help-block">{{errors.contactEmail.firstObject}}</span>
    </div>
  </div>
</fieldset>
