<fieldset>
  <legend>Firma</legend>

  <div class="form-group {{if errors.companyName.firstObject "has-error"}}">
    <label for="client-company-name" class="col-sm-2 control-label">
      Nazwa
    </label>
    <div class="col-sm-5">
      {{input id="client-company-name" class="form-control"
        data-test-client-company-name=true value=(mut (get model 'companyName'))}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">
        {{errors.companyName.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.address.firstObject "has-error"}}">
    <label for="client-address" class="col-sm-2 control-label">
      Adres
    </label>
    <div class="col-sm-5">
      {{textarea id="client-address" class="form-control"
        data-test-client-address=true value=(mut (get model 'address'))}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">
        {{errors.address.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.vatin.firstObject "has-error"}}">
    <label for="client-vatin" class="col-sm-2 control-label">
      NIP
    </label>
    <div class="col-sm-5">
      {{input id="client-vatin" class="form-control"
        data-test-client-vatin=true value=(mut (get model 'vatin'))}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">
        {{errors.vatin.firstObject}}
      </span>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Osoba kontaktowa</legend>

  <div class="form-group {{if errors.contactName.firstObject "has-error"}}">
    <label for="client-contact-name" class="col-sm-2 control-label">
      Imię i nazwisko
    </label>
    <div class="col-sm-5">
      {{input id="client-contact-name" class="form-control"
        data-test-client-contact-name=true value=(mut (get model 'contactName'))}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">
        {{errors.contactName.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.contactEmail.firstObject "has-error"}}">
    <label for="client-contact-email" class="col-sm-2 control-label">
      Adres e-mail
    </label>
    <div class="col-sm-5">
      {{input id="client-contact-email" class="form-control" type="email"
        data-test-client-contact-email=true value=(mut (get model 'contactEmail'))}}
    </div>
    <div class="col-sm-5">
      <span class="help-block">
        {{errors.contactEmail.firstObject}}
      </span>
    </div>
  </div>
</fieldset>
