<fieldset>
  <legend>Faktura</legend>

  <div {{bind-attr class=":form-group errors.number.firstObject:has-error"}}>
    <label for="invoice-number" class="col-sm-3 control-label">
      Numer
    </label>
    <div class="col-sm-3">
      {{input valueBinding="number" class="form-control" id="invoice-number"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.number.firstObject}}</span>
    </div>
  </div>

  <div {{bind-attr class=":form-group errors.issueDate.firstObject:has-error"}}>
    <label for="invoice-issue-date" class="col-sm-3 control-label">
      Data wystawienia
    </label>
    <div class="col-sm-3">
      {{input type="date" valueBinding="issueDate" class="form-control" id="invoice-issue-date"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.issueDate.firstObject}}</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checkedBinding="isIssueDelivery"}}
          Data dostawy towarów lub wykonania usługi jest taka sama jak data wystawienia
        </label>
      </div>
    </div>
  </div>

  <div {{bind-attr class=":form-group errors.deliveryDate.firstObject:has-error isIssueDelivery:hide"}}>
    <label for="invoice-delivery-date" class="col-sm-3 control-label">
      Data dostawy towarów lub wykonania usługi
    </label>
    <div class="col-sm-3">
      {{input type="date" valueBinding="deliveryDate" class="form-control" id="invoice-delivery-date"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.deliveryDate.firstObject}}</span>
    </div>
  </div>

  <div {{bind-attr class=":form-group errors.dueDays.firstObject:has-error"}}>
    <label class="control-label col-sm-3" for="invoice-due-days">
      Termin płatności
    </label>
    <div class="col-sm-3">
      <div class="input-group">
        {{input type="number" class="form-control text-right" valueBinding="dueDays" id="invoice-due-days" min="0"}}
        <span class="input-group-addon">dni</span>
      </div>
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.dueDays.firstObject}}</span>
    </div>
  </div>

  <div {{bind-attr class=":form-group errors.currency.firstObject:has-error"}}>
    <label class="control-label col-sm-3" for="invoice-currency">
      Waluta
    </label>
    <div class="col-sm-3">
      {{view Ember.Select class="form-control" contentBinding="currencies.content" optionValuePath="content.code" optionLabelPath="content.nameWithCode" valueBinding="currencyCode" id="invoice-currency"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.currency.firstObject}}</span>
    </div>
  </div>

  {{#if isExchanging}}
    <div {{bind-attr class=":form-group errors.exchangeDate.firstObject:has-error"}}>
      <label for="invoice-exchange-date" class="col-sm-3 control-label">
        Data publikacji tabeli kursów walut obcych
      </label>
      <div class="col-sm-3">
        {{input type="date" valueBinding="exchangeDate" class="form-control" id="invoice-exchange-date" disabled="disabled"}}
      </div>
      <div class="col-sm-6">
        {{#if exchangeRate.isLoading}}
          <span class="help-block text-muted">
            Trwa ładowanie tabeli kursów walut obcych, proszę czekać…
          </span>
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div {{bind-attr class=":form-group errors.language.firstObject:has-error"}}>
    <label class="control-label col-sm-3" for="invoice-language">
      Wersja językowa
    </label>
    <div class="col-sm-3">
      {{view Ember.Select class="form-control" contentBinding="languages.content" optionValuePath="content.code" optionLabelPath="content.name" valueBinding="languageCode" id="invoice-language"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.language.firstObject}}</span>
    </div>
  </div>

  <div class="row">
    <div {{bind-attr class=":col-sm-6 errors.seller.firstObject:has-error"}}>
      <label class="control-label" for="invoice-seller">
        Sprzedawca
      </label>
      <span class="help-block" style="display: inline;">{{errors.seller.firstObject}}</span>
      {{textarea class="form-control" rows="5" valueBinding="seller" id="invoice-seller"}}
    </div>

    <div {{bind-attr class=":col-sm-6 errors.buyer.firstObject:has-error"}}>
      <div class="dropdown" style="display: inline;">
        <label data-toggle="dropdown" class="control-label" for="invoice-buyer">
          Nabywca <span class="caret"></span>
        </label>
        <ul class="dropdown-menu" role="menu">
          {{#each client in clients}}
            <li><a href="javascript:;" {{action "chooseClient" client}}>{{client.companyName}}</a></li>
          {{/each}}
        </ul>
      </div>
      <span class="help-block" style="display: inline;">{{errors.buyer.firstObject}}</span>
      {{textarea class="form-control" rows="5" valueBinding="buyer" id="invoice-buyer"}}
    </div>
  </div>


  <br>

  <table class="table table-striped table-condensed">
    <tr>
      <th class="col-sm-4">
        Nazwa
      </th>
      <th class="text-right">
        Liczba
      </th>
      <th class="text-right col-sm-1">
        J.m.
      </th>
      <th class="text-right">
        Cena netto
      </th>
      <th class="text-right hidden-xs">
        Wartość netto
      </th>
      <th class="text-right col-sm-1">
        Stawka VAT
      </th>
      <th class="text-right hidden-xs">
        Wartość VAT
      </th>
      <th class="text-right hidden-xs">
        Wartość brutto
      </th>
      <th></th>
    </tr>
    {{#each item in items}}
      <tr>
        <td {{bind-attr class=":form-group item.errors.description.firstObject:has-error"}}>
          {{input class="form-control" valueBinding="item.description"}}
        </td>
        <td {{bind-attr class=":form-group :text-right item.errors.quantity.firstObject:has-error"}}>
          {{view "number-field" numberBinding="item.quantity" class="form-control text-right"}}
        </td>
        <td {{bind-attr class=":form-group :text-right item.errors.unit.firstObject:has-error"}}>
          {{view Ember.Select class="form-control" contentBinding="units" optionValuePath="content.code" optionLabelPath="content.name" valueBinding="item.unitCode"}}
        </td>
        <td {{bind-attr class=":form-group :text-right item.errors.netPrice.firstObject:has-error"}}>
          {{view "cents-field" centsBinding="item.netPrice" class="form-control text-right" precisionBinding="currency.precision"}}
        </td>
        <td {{bind-attr class=":form-group :text-right :hidden-xs item.errors.netAmount.firstObject:has-error"}}>
          {{view "cents-field" centsBinding="item.netAmount" class="form-control text-right" disabled="disabled" precisionBinding="currency.precision"}}
        </td>
        <td {{bind-attr class=":form-group :text-right item.errors.taxRateCode.firstObject:has-error"}}>
          {{view Ember.Select class="form-control" contentBinding="taxRates" optionValuePath="content.code" optionLabelPath="content.name" valueBinding="item.taxRateCode"}}
        </td>
        <td {{bind-attr class=":form-group :text-right :hidden-xs item.errors.taxAmount.firstObject:has-error"}}>
          {{view "cents-field" centsBinding="item.taxAmount" class="form-control text-right" disabled="disabled" precisionBinding="currency.precision"}}
        </td>
        <td {{bind-attr class=":form-group :text-right :hidden-xs item.errors.grossAmount.firstObject:has-error"}}>
          {{view "cents-field" centsBinding="item.grossAmount" class="form-control text-right" disabled="disabled" precisionBinding="currency.precision"}}
        </td>
        <td>
          <button class="btn btn-remove" {{action "removeItem" item}} {{bind-attr disabled="isRemoveItemDisabled"}}><strong>×</strong></button>
        </td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="9" class="text-center"><button class="btn btn-add btn-block" {{action "addItem"}}><strong>+</strong></button></td>
    </tr>
    <tr class="hidden-xs">
      <th class="text-right" colspan="4">
        Razem
      </th>
      <td class="text-right">
        {{format-cents totalNetAmount precisionBinding="currency.precision"}}&nbsp;<small class="text-muted">{{currency.code}}</small>
      </td>
      <td></td>
      <td class="text-right">
        {{format-cents totalTaxAmount precisionBinding="currency.precision"}}&nbsp;<small class="text-muted">{{currency.code}}</small>{{#if isExchanging}}<br>{{format-cents totalTaxAmountPLN}}&nbsp;<small class="text-muted">PLN</small>{{/if}}
      </td>
      <td class="text-right">
        {{format-cents totalGrossAmount precisionBinding="currency.precision"}}&nbsp;<small class="text-muted">{{currency.code}}</small>
      </td>
      <td></td>
    </tr>
    {{#each subTotal in subTotals}}
      <tr class="subtotal hidden-xs">
        <th class="text-right" colspan="4">
          W tym
        </th>
        <td class="text-right">
          {{format-cents subTotal.netAmount precisionBinding="currency.precision"}}&nbsp;<small class="text-muted">{{../currency.code}}</small>
        </td>
        <td class="text-right">
          {{subTotal.taxRate.name}}
        </td>
        <td class="text-right">
          {{format-cents subTotal.taxAmount precisionBinding="currency.precision"}}&nbsp;<small class="text-muted">{{../currency.code}}</small>{{#if isExchanging}}<br>{{format-cents subTotal.taxAmountPLN}}&nbsp;<small class="text-muted">PLN</small>{{/if}}
        </td>
        <td class="text-right">
          {{format-cents subTotal.grossAmount precisionBinding="currency.precision"}}&nbsp;<small class="text-muted">{{../currency.code}}</small>
        </td>
        <td></td>
      </tr>
    {{/each}}
  </table>

  <div class="row">
    <div class="col-sm-12">
      <p>
        Słownie: {{totalGrossAmountInWords}}
      </p>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-12">
      <div class="dropdown" style="display: inline;">
        <label data-toggle="dropdown" class="control-label">
          Płatność <span class="caret"></span>
        </label>
        <ul class="dropdown-menu" role="menu">
          {{#each account in accounts}}
            <li><a href="javascript:;" {{action "chooseAccount" account}}>{{account.name}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div {{bind-attr class=":form-group errors.accountBankName.firstObject:has-error"}}>
    <label for="invoice-account-bank-name" class="col-sm-3 control-label">
      Nazwa banku
    </label>
    <div class="col-sm-3">
      {{input class="form-control" valueBinding="accountBankName" id="invoice-account-bank-name"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.accountBankName.firstObject}}</span>
    </div>
  </div>

  <div {{bind-attr class=":form-group errors.accountSwift.firstObject:has-error"}}>
    <label for="invoice-account-swift" class="col-sm-3 control-label">
      SWIFT
    </label>
    <div class="col-sm-3">
      {{input class="form-control" valueBinding="accountSwift" id="invoice-account-swift"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.accountSwift.firstObject}}</span>
    </div>
  </div>

  <div {{bind-attr class=":form-group errors.accountNumber.firstObject:has-error"}}>
    <label for="invoice-account-number" class="col-sm-3 control-label">
      Numer rachunku
    </label>
    <div class="col-sm-3">
      {{input class="form-control" valueBinding="accountNumber" id="invoice-account-number"}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.accountNumber.firstObject}}</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="invoice-comment">
        Uwagi
      </label>
      {{textarea class="form-control" rows="4" valueBinding="comment" id="invoice-comment"}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {{input class="form-control text-center" valueBinding="sellerSignature" id="sellerSignature"}}
      <label for="sellerSignature">Podpis wystawiającego</label>
    </div>
    <div class="col-sm-6">
      {{input class="form-control text-center" valueBinding="buyerSignature" id="buyerSignature"}}
      <label for="buyerSignature">Podpis nabywcy</label>
    </div>
  </div>
</fieldset>
