<fieldset>
  <legend>Faktura</legend>

  <div class="form-group {{if errors.number.firstObject "has-error"}}">
    <label for="invoice-number" class="col-sm-3 control-label">
      Numer
    </label>
    <div class="col-sm-3">
      {{input id="invoice-number" class="form-control"
        value=(mut (get model 'number'))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.number.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.issueDate.firstObject "has-error"}}">
    <label for="invoice-issue-date" class="col-sm-3 control-label">
      Data wystawienia
    </label>
    <div class="col-sm-3">
      {{input id="invoice-issue-date" class="form-control" type="date"
        value=(mut (get model 'issueDate'))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.issueDate.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=isIssueDelivery}}
          Data dostawy towarów lub wykonania usługi jest taka sama jak data wystawienia
        </label>
      </div>
    </div>
  </div>

  <div class="form-group {{if errors.deliveryDate.firstObject "has-error"}} {{if isIssueDelivery "hide"}}">
    <label for="invoice-delivery-date" class="col-sm-3 control-label">
      Data dostawy towarów lub wykonania usługi
    </label>
    <div class="col-sm-3">
      {{input id="invoice-delivery-date" class="form-control" type="date"
        value=(mut (get model 'deliveryDate'))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.deliveryDate.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.dueDays.firstObject "has-error"}}">
    <label class="control-label col-sm-3" for="invoice-due-days">
      Termin płatności
    </label>
    <div class="col-sm-3">
      <div class="input-group">
        {{input id="invoice-due-days" class="form-control" type="number" min="0"
          value=(mut (get model 'dueDays'))}}
        <span class="input-group-addon">dni</span>
      </div>
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.dueDays.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.currency.firstObject 'has-error'}}">
    <label class="control-label col-sm-3" for="invoice-currency">
      Waluta
    </label>
    <div class="col-sm-3">
      {{drop-down model=currencies value=model.currencyCode
        labelKey='nameWithCode' valueKey='code'
        onSelect=(action (mut (get model 'currencyCode')))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">{{errors.currency.firstObject}}</span>
    </div>
  </div>

  {{#if model.isExchanging}}
    <div class="form-group {{if errors.exchangeRate.firstObject 'has-error'}}">
      <label for="invoice-exchange-date" class="col-sm-3 control-label">
        Data publikacji tabeli kursów walut obcych
      </label>
      <div class="col-sm-3">
        {{input id="invoice-exchange-date" class="form-control" type="date" disabled="true"
          value=(get model 'exchangeDate')}}
      </div>
      <div class="col-sm-6">
        {{#if model.exchangeRate.isLoading}}
          <span class="help-block text-muted">
            Trwa ładowanie tabeli kursów walut obcych, proszę czekać…
          </span>
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class="form-group {{if errors.language.firstObject "has-error"}}">
    <label class="control-label col-sm-3" for="invoice-language">
      Wersja językowa
    </label>
    <div class="col-sm-3">
      {{drop-down model=languages value=model.languageCode
        labelKey='name' valueKey='code'
        onSelect=(action (mut (get model 'languageCode')))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.language.firstObject}}
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 {{if errors.seller.firstObject "has-error"}}">
      <label class="control-label" for="invoice-seller">
        Sprzedawca
      </label>
      <span class="help-block" style="display: inline;">
        {{errors.seller.firstObject}}
      </span>
      {{textarea id="invoice-sellet" class="form-control" rows="5"
        value=(mut (get model 'seller'))}}
    </div>

    <div class="col-sm-6 {{if errors.buyer.firstObject "has-error"}}">
      <div class="dropdown" style="display: inline;">
        <label data-toggle="dropdown" class="control-label" for="invoice-buyer">
          Nabywca <span class="caret"></span>
        </label>
        <ul class="dropdown-menu" role="menu">
          {{#if clients}}
            {{#each clients as |client|}}
              <li>
                <a href="javascript:;" {{action "chooseClient" client}}>{{client.companyName}}</a>
              </li>
            {{/each}}
          {{else}}
            <li class="text-center text-muted">
              {{#if controllers.application.user.isAnonymous}}
                zaloguj się i
              {{/if}}
              dodaj nowego klienta w zakładce <em>klienci</em>, aby skorzystać z autouzupełniania
            </li>
          {{/if}}
        </ul>
      </div>
      <span class="help-block" style="display: inline;">{{errors.buyer.firstObject}}</span>
      {{textarea id="invoice-buyer" class="form-control" rows="5"
        value=(mut (get model 'buyer'))}}
    </div>
  </div>

  <br>

  <table class="table table-striped table-condensed">
    <tbody>
      <tr>
        <th class="col-sm-4">
          Nazwa
        </th>
        <th class="text-right">
          Liczba
        </th>
        <th class="text-right col-sm-1">
          J.m.
        </th>
        <th class="text-right">
          Cena netto
        </th>
        <th class="text-right hidden-xs">
          Wartość netto
        </th>
        <th class="text-right col-sm-1">
          Stawka VAT
        </th>
        <th class="text-right hidden-xs">
          Wartość VAT
        </th>
        <th class="text-right hidden-xs">
          Wartość brutto
        </th>
        <th></th>
      </tr>
      {{#each model.items as |item|}}
        <tr>
          <td class="form-group {{if item.errors.description 'has-error'}}">
            {{input class="form-control" value=(mut (get item 'description'))}}
          </td>
          <td class="form-group {{if item.errors.quantity 'has-error'}}">
            {{input class="form-control text-right" type="number"
              value=(mut (get item 'quantity'))}}
          </td>
          <td class="form-group text-right {{if item.errors.unit 'has-error'}}">
            {{drop-down model=units value=item.unitCode
              labelKey='name' valueKey='code'
              onSelect=(action (mut (get item 'unitCode')))}}
          </td>
          <td class="form-group text-right {{if item.errors.netPrice 'has-error'}}">
            {{cents-field class="form-control text-right" cents=(mut (get item 'netPrice'))
              precision=(get model.currency 'precision')}}
          </td>
          <td class="form-group text-right hidden-xs {{if item.errors.netAmount 'has-error'}}">
            {{cents-field class="form-control text-right" cents=(get item 'netAmount')
              disabled="disabled" precision=(get model.currency 'precision')}}
          </td>
          <td class="form-group text-right {{if item.errors.taxRateCode 'has-error'}}">
            {{drop-down model=taxRates value=item.taxRateCode
              labelKey='name' valueKey='code'
              onSelect=(action (mut (get item 'taxRateCode')))}}
          </td>
          <td class="form-group text-right hidden-xs {{if item.errors.taxAmount 'has-error'}}">
            {{cents-field class="form-control text-right" cents=(get item 'taxAmount')
              disabled="disabled" precision=(get model.currency 'precision')}}
          </td>
          <td class="form-group text-right hidden-xs {{if item.errors.grossAmount 'has-error'}}">
            {{cents-field class="form-control text-right" cents=(get item 'grossAmount')
              disabled="disabled" precision=(get model.currency 'precision')}}
          </td>
          <td>
            <button class="btn btn-remove" {{action "removeItem" item}} disabled={{isRemoveItemDisabled}}>
              <strong>×</strong>
            </button>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="9" class="text-center"><button class="btn btn-add btn-block" {{action "addItem"}}><strong>+</strong></button></td>
      </tr>
      <tr class="hidden-xs">
        <th class="text-right" colspan="4">
          Razem
        </th>
        <td class="text-right">
          {{format-cents model.totalNetAmount precision=currency.precision}}
          <small>{{currency.code}}</small>
        </td>
        <td></td>
        <td class="text-right">
          {{format-cents model.totalTaxAmount precision=currency.precision}}
          <small>{{currency.code}}</small>
          {{#if model.isExchanging}}
            <br>
            {{format-cents model.totalTaxAmountPLN}}
            <small>PLN</small>
          {{/if}}
        </td>
        <td class="text-right">
          {{format-cents model.totalGrossAmount precision=currency.precision}}
          <small>{{currency.code}}</small>
        </td>
        <td></td>
      </tr>
      {{#each model.subTotals as |subTotal|}}
        <tr class="subtotal hidden-xs">
          <th class="text-right" colspan="4">
            W tym
          </th>
          <td class="text-right">
            {{format-cents subTotal.netAmount precision=currency.precision}}
          </td>
          <td class="text-right">
            {{subTotal.taxRate.name}}
          </td>
          <td class="text-right">
            {{format-cents subTotal.taxAmount precision=currency.precision}}
            {{#if model.isExchanging}}
              <br>
              {{format-cents subTotal.taxAmountPLN}}
              <small>PLN</small>
            {{/if}}
          </td>
          <td class="text-right">
            {{format-cents subTotal.grossAmount precision=currency.precision}}
          </td>
          <td></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-12">
      <p>Słownie: {{model.totalGrossAmountInWords}}</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <div class="dropdown" style="display: inline;">
        <label data-toggle="dropdown" class="control-label">
          Płatność <span class="caret"></span>
        </label>
        <ul class="dropdown-menu" role="menu">
          {{#if accounts.firstObject}}
            {{#each accounts as |account|}}
              <li>
                <a href="javascript:;" {{action "chooseAccount" account}}>{{account.name}}</a>
              </li>
            {{/each}}
          {{else}}
            <li class="text-center text-muted">
              {{#if controllers.application.user.isAnonymous}}
                zaloguj się i
              {{/if}}
              dodaj nowy rachunek w zakładce <em>rachunki bankowe</em>, aby&nbsp;skorzystać z autouzupełniania
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group {{if errors.accountBankName.firstObject 'has-error'}}">
    <label for="invoice-account-bank-name" class="col-sm-3 control-label">
      Nazwa banku
    </label>
    <div class="col-sm-3">
      {{input id="invoice-account-bank-name" class="form-control"
        value=(mut (get model 'accountBankName'))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.accountBankName.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.accountSwift.firstObject 'has-error'}}">
    <label for="invoice-account-swift" class="col-sm-3 control-label">
      SWIFT
    </label>
    <div class="col-sm-3">
      {{input id="invoice-account-swift" class="form-control"
        value=(mut (get model 'accountSwift'))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.accountSwift.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group {{if errors.accountNumber.firstObject 'has-error'}}">
    <label for="invoice-account-number" class="col-sm-3 control-label">
      Numer rachunku
    </label>
    <div class="col-sm-3">
      {{input id="invoice-account-number" class="form-control"
        value=(mut (get model 'accountNumber'))}}
    </div>
    <div class="col-sm-6">
      <span class="help-block">
        {{errors.accountNumber.firstObject}}
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="invoice-comment">
        Uwagi
      </label>
      {{textarea id="commment" class="form-control" rows="4" value=(mut (get model 'comment'))}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {{input id="sellerSignature" class="form-control text-center"
        value=(mut (get model 'sellerSignature'))}}
      <label for="sellerSignature">Podpis wystawiającego</label>
    </div>
    <div class="col-sm-6">
      {{input id="buyerSignature" class="form-control text-center"
        value=(mut (get model 'buyerSignature'))}}
      <label for="buyerSignature">Podpis nabywcy</label>
    </div>
  </div>
</fieldset>
