<div {{bind-attr class=":form-group errors.number.firstObject:has-error"}}>
  <label for="invoice-number" class="col-xs-4 control-label">
    Numer
  </label>
  <div class="col-xs-2">
    {{input valueBinding="number" class="form-control" id="invoice-number"}}
  </div>
  <div class="col-xs-6">
    <span class="help-block">{{errors.number.firstObject}}</span>
  </div>
</div>

<div {{bind-attr class=":form-group errors.issueDate.firstObject:has-error"}}>
  <label for="invoice-issue-date" class="col-xs-4 control-label">
    Data wystawienia
  </label>
  <div class="col-xs-2">
    {{input type="date" valueBinding="issueDate" class="form-control" id="invoice-issue-date"}}
  </div>
  <div class="col-xs-6">
    <span class="help-block">{{errors.issueDate.firstObject}}</span>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-10 col-xs-offset-4">
    <div class="checkbox">
      <label>
        {{input type="checkbox" checkedBinding="isIssueDelivery"}}
        Data dostawy towarów lub wykonania usługi jest taka sama jak data wystawienia
      </label>
    </div>
  </div>
</div>

<div {{bind-attr class=":form-group errors.deliveryDate.firstObject:has-error isIssueDelivery:hide"}}>
  <label for="invoice-delivery-date" class="col-xs-4 control-label">
    Data dostawy towarów lub wykonania usługi
  </label>
  <div class="col-xs-2">
    {{input type="date" valueBinding="deliveryDate" class="form-control" id="invoice-delivery-date"}}
  </div>
  <div class="col-xs-6">
    <span class="help-block">{{errors.deliveryDate.firstObject}}</span>
  </div>
</div>

<div {{bind-attr class=":form-group errors.dueDays.firstObject:has-error"}}>
  <label class="control-label col-xs-4" for="invoice-due-days">
    Termin płatności
  </label>
  <div class="col-xs-2">
    <div class="input-group">
      {{input type="number" class="form-control text-right" valueBinding="dueDays" id="invoice-due-days" min="0"}}
      <span class="input-group-addon">dni</span>
    </div>
  </div>
  <div class="col-xs-6">
    <span class="help-block">{{errors.dueDays.firstObject}}</span>
  </div>
</div>

<div {{bind-attr class=":form-group errors.currency.firstObject:has-error"}}>
  <label class="control-label col-xs-4" for="invoice-currency">
    Waluta
  </label>
  <div class="col-xs-2">
    {{view Ember.Select class="form-control" contentBinding="Faktura.currencies" valueBinding="currency" id="invoice-currency"}}
  </div>
  <div class="col-xs-6">
    <span class="help-block">{{errors.currency.firstObject}}</span>
  </div>
</div>

<div {{bind-attr class=":form-group errors.language.firstObject:has-error"}}>
  <label class="control-label col-xs-4" for="invoice-language">
    Wersja językowa
  </label>
  <div class="col-xs-2">
    {{view Ember.Select class="form-control" contentBinding="Faktura.languages" valueBinding="language" id="invoice-language"}}
  </div>
  <div class="col-xs-6">
    <span class="help-block">{{errors.language.firstObject}}</span>
  </div>
</div>

<div class="row">
  <div {{bind-attr class=":col-xs-6 errors.seller.firstObject:has-error"}}>
    <label class="control-label" for="invoice-seller">
      Sprzedawca
    </label>
    <span class="help-block" style="display: inline;">{{errors.seller.firstObject}}</span>
    {{textarea class="form-control" rows="4" valueBinding="seller" id="invoice-seller"}}
  </div>

  <div {{bind-attr class=":col-xs-6 errors.buyer.firstObject:has-error"}}>
    <label class="control-label" for="invoice-buyer">
      Nabywca
    </label>
    <span class="help-block" style="display: inline;">{{errors.buyer.firstObject}}</span>
    {{textarea class="form-control" rows="4" valueBinding="buyer" id="invoice-buyer"}}
  </div>
</div>

<br>

<table class="table table-striped table-condensed">
  <tr>
    <th class="col-xs-4">
      Nazwa
    </th>
    <th class="text-right">
      Liczba
    </th>
    <th class="text-right col-xs-1">
      J.m.
    </th>
    <th class="text-right">
      Cena netto
    </th>
    <th class="text-right">
      Wartość netto
    </th>
    <th class="text-right col-xs-1">
      Stawka VAT
    </th>
    <th class="text-right">
      Wartość VAT
    </th>
    <th class="text-right">
      Wartość brutto
    </th>
    <th></th>
  </tr>
  {{#each item in items}}
    <tr>
      <td {{bind-attr class=":form-group item.errors.description.firstObject:has-error"}}>
        {{input class="form-control" valueBinding="item.description"}}
      </td>
      <td {{bind-attr class=":form-group :text-right item.errors.quantity.firstObject:has-error"}}>
        {{input valueBinding="item.quantity" class="form-control text-right"}}
      </td>
      <td {{bind-attr class=":form-group :text-right item.errors.unit.firstObject:has-error"}}>
        {{view Ember.Select class="form-control" contentBinding="Faktura.units" valueBinding="item.unit"}}
      </td>
      <td {{bind-attr class=":form-group :text-right item.errors.netPrice.firstObject:has-error"}}>
        {{view "cents" centsBinding="item.netPrice" class="form-control text-right"}}
      </td>
      <td {{bind-attr class=":form-group :text-right item.errors.netAmount.firstObject:has-error"}}>
        {{view "cents" centsBinding="item.netAmount" class="form-control text-right" disabled="disabled"}}
      </td>
      <td {{bind-attr class=":form-group :text-right item.errors.formattedTaxRate.firstObject:has-error"}}>
        {{view Ember.Select class="form-control" contentBinding="Faktura.taxRates" valueBinding="item.formattedTaxRate"}}
      </td>
      <td {{bind-attr class=":form-group :text-right item.errors.taxAmount.firstObject:has-error"}}>
        {{view "cents" centsBinding="item.taxAmount" class="form-control text-right" disabled="disabled"}}
      </td>
      <td {{bind-attr class=":form-group :text-right item.errors.grossAmount.firstObject:has-error"}}>
        {{view "cents" centsBinding="item.grossAmount" class="form-control text-right" disabled="disabled"}}
      </td>
      <td>
        <button class="btn btn-remove" {{action "removeItem" item}} {{bind-attr disabled="isRemoveItemDisabled"}}><strong>×</strong></button>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td colspan="9" class="text-center"><button class="btn btn-add btn-block" {{action "addItem"}}><strong>+</strong></button></td>
  </tr>
  <tr>
    <th class="text-right" colspan="4">
      Razem
    </th>
    <td class="text-right">
      {{format-cents totalNetAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
    </td>
    <td></td>
    <td class="text-right">
      {{format-cents totalTaxAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
    </td>
    <td class="text-right">
      {{format-cents totalGrossAmount}}&nbsp;<small class="text-muted">{{currency}}</small>
    </td>
    <td></td>
  </tr>
  {{#each subTotal in subTotals}}
    <tr>
      <th class="text-right" colspan="4">
        W tym
      </th>
      <td class="text-right">
        {{format-cents subTotal.netAmount}}&nbsp;<small class="text-muted">{{../currency}}</small>
      </td>
      <td class="text-right">
        {{subTotal.formattedTaxRate}}
      </td>
      <td class="text-right">
        {{format-cents subTotal.taxAmount}}&nbsp;<small class="text-muted">{{../currency}}</small>
      </td>
      <td class="text-right">
        {{format-cents subTotal.grossAmount}}&nbsp;<small class="text-muted">{{../currency}}</small>
      </td>
      <td></td>
    </tr>
  {{/each}}
</table>

<div class="row">
  <div class="col-xs-12">
    <p>
      Słownie: {{totalGrossAmountInWords}}
    </p>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-12">
    <label for="invoice-comment">
      Uwagi
    </label>
    {{textarea class="form-control" rows="4" valueBinding="comment" id="invoice-comment"}}
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    {{input class="form-control text-center" valueBinding="issuerSignature" id="issuerSignature"}}
    <label for="issuerSignature">Podpis wystawiającego</label>
  </div>
  <div class="col-xs-6">
    {{input class="form-control text-center" valueBinding="buyerSignature" id="buyerSignature"}}
    <label for="buyerSignature">Podpis nabywcy</label>
  </div>
</div>
