<nav class="navbar navbar-default hidden-print" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Faktura<strong>ma</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        {{#link-to "invoices" tagName="li"}}
          <a href="javascript:;">Faktury</a>
        {{/link-to}}
        {{#unless user.isAnonymous}}
          {{#link-to "clients" tagName="li"}}
            <a href="javascript:;">Klienci</a>
          {{/link-to}}
          {{#link-to "accounts" tagName="li"}}
            <a href="javascript:;">Rachunki bankowe</a>
          {{/link-to}}
          {{#link-to "settings" tagName="li"}}
            <a href="javascript:;">Ustawienia</a>
          {{/link-to}}
        {{/unless}}
      </ul>
      <div class="navbar-right">
        {{#if user.isAnonymous}}
          {{#view "popover" id="login-alert" tagName="p" class="navbar-text" content="<button type='button' class='close' onclick='$(&quot;#login-alert&quot;).click()' aria-hidden='true'>&times;</button>Korzystasz z aplikacji jako <strong>gość</strong>. Dostęp do wprowadzonych danych zostanie utracony po zamknięciu okna przeglądarki lub <strong>zalogowaniu się</strong>. <br> Niektóre funkcje aplikacji są dostępne wyłącznie po <strong>zalogowaniu się</strong>." isDismissedBinding="isAlertDismissed"}}
            <img height="30" class="gravatar img-circle" {{bind-attr src="user.gravatarURL"}}>
            {{user.name}}
          {{/view}}
          <ul class="nav navbar-nav">
            <li>
              <a href="javascript:;" {{action "signIn" "google"}}>Zaloguj</a>
            </li>
          </ul>
        {{else}}
          <p class="navbar-text">
            <img height="30" class="gravatar img-circle" {{bind-attr src="user.gravatarURL"}}>
            {{user.name}}
          </p>
          <ul class="nav navbar-nav">
            <li>
              <a href="javascript:;" {{action "signOut"}}>Wyloguj</a>
            </li>
          </ul>
        {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container site-content">
  {{outlet}}
</div>
