<nav class="navbar navbar-default hidden-print" role="navigation">
  {{#with controllers.currentUser}}
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{link-to "Faktura" "index" class="navbar-brand"}}
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          {{#if isSignedIn}}
            {{#link-to "invoices" tagName="li"}}
              <a href="javascript:;">Faktury</a>
            {{/link-to}}
            {{#link-to "clients" tagName="li"}}
              <a href="javascript:;">Klienci</a>
            {{/link-to}}
            {{#link-to "settings" tagName="li"}}
              <a href="javascript:;">Ustawienia</a>
            {{/link-to}}
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#unless isSignedIn}}
            <li>
              <a href="javascript:;" {{action "signIn" "persona"}}>Zaloguj</a>
            </li>
          {{/unless}}
          {{#if isSignedIn}}
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <img height="30" class="gravatar img-circle" {{bind-attr src="gravatarURL"}}>
                {{name}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="javascript:;" {{action "signOut"}}>Wyloguj</a>
                </li>
              </ul>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  {{/with}}
</nav>

<div class="container">
  {{outlet}}
</div>
