<form class="form-horizontal">
  <fieldset>
    <legend>Dane osobiste</legend>

    <div {{bind-attr class=":form-group errors.contactName.firstObject:has-error"}}>
      <label for="settings-contact-name" class="col-sm-2 control-label">
        Imię i nazwisko
      </label>
      <div class="col-sm-5">
        {{input valueBinding="contactName" class="form-control" id="settings-contact-name"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.contactName.firstObject}}</span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Firma</legend>

    <div {{bind-attr class=":form-group errors.companyName.firstObject:has-error"}}>
      <label for="settings-company-name" class="col-sm-2 control-label">
        Nazwa
      </label>
      <div class="col-sm-5">
        {{input valueBinding="companyName" class="form-control" id="settings-company-name"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.companyName.firstObject}}</span>
      </div>
    </div>

    <div {{bind-attr class=":form-group errors.address.firstObject:has-error"}}>
      <label for="settings-address" class="col-sm-2 control-label">
        Adres
      </label>
      <div class="col-sm-5">
        {{textarea valueBinding="address" class="form-control" id="settings-address" rows=3}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.address.firstObject}}</span>
      </div>
    </div>

    <div {{bind-attr class=":form-group errors.vatin.firstObject:has-error"}}>
      <label for="settings-vatin" class="col-sm-2 control-label">
        NIP
      </label>
      <div class="col-sm-5">
        {{input valueBinding="vatin" class="form-control" id="settings-vatin"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.vatin.firstObject}}</span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Inne</legend>

    <div {{bind-attr class=":form-group errors.numerationType.firstObject:has-error"}}>
      <label for="settings-numeration-type" class="col-sm-2 control-label">
        Typ numeracji faktur
      </label>
      <div class="col-sm-5">
        {{view Ember.Select class="form-control" contentBinding="numerationTypes.content" optionValuePath="content.code" optionLabelPath="content.name" valueBinding="numerationTypeCode" id="settings-numeration-type"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.numerationType.firstObject}}</span>
      </div>
    </div>

    <div {{bind-attr class=":form-group errors.dueDays.firstObject:has-error"}}>
      <label class="control-label col-sm-2" for="settings-due-days">
        Domyślny termin płatności
      </label>
      <div class="col-sm-2">
        <div class="input-group">
          {{input type="number" class="form-control text-right" valueBinding="dueDays" id="settings-due-days" min="0"}}
          <span class="input-group-addon">dni</span>
        </div>
      </div>
      <div class="col-sm-8">
        <span class="help-block">{{errors.dueDays.firstObject}}</span>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" {{action "save"}} {{bind-attr disabled="model.isSaving"}}>Zapisz ustawienia</button>
      {{link-to "Anuluj" "index" class="btn btn-default" activeClass=null}}
    </div>
  </div>

  <br>

  <fieldset>
    <legend>Baza danych</legend>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        {{#view "export-button" class="btn btn-default"}}Eksportuj dane{{/view}}
        {{#view "import-button" class="btn btn-default btn-upload" action="importDatabase" targetBinding="controllers.application"}}Importuj dane{{/view}}
        <button class="btn btn-danger" {{action "showDeleteModal"}}>Usuń dane</button>
      </div>
    </div>
  </fieldset>
</form>

{{#if isDeleteModalVisible}}
  <div class="modal-backdrop in"></div>
  <div class="modal in" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true" {{action "dismissDeleteModal"}}>&times;</button>
          <h4 class="modal-title">Usuń dane</h4>
        </div>
        <div class="modal-body">
          <p>Wszyskie wprowadzone dane zostaną bezpowrotnie usunięte z bazy danych. Czy chcesz kontynuować?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" {{action "dismissDeleteModal"}}>Nie</button>
          <button type="button" class="btn btn-danger" {{action "deleteDatabase" target="controllers.application"}}>Tak, usuń dane</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
