<form class="form-horizontal">
  <fieldset>
    <legend>Dane osobiste</legend>

    <div class="form-group" {{bind-attr class="errors.contactName.firstObject:has-error"}}>
      <label for="settings-contact-name" class="col-sm-2 control-label">
        Imię i nazwisko
      </label>
      <div class="col-sm-5">
        {{input valueBinding="contactName" class="form-control" id="settings-contact-name"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.contactName.firstObject}}</span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Firma</legend>

    <div class="form-group" {{bind-attr class="errors.companyName.firstObject:has-error"}}>
      <label for="settings-company-name" class="col-sm-2 control-label">
        Nazwa
      </label>
      <div class="col-sm-5">
        {{input valueBinding="companyName" class="form-control" id="settings-company-name"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.companyName.firstObject}}</span>
      </div>
    </div>

    <div class="form-group" {{bind-attr class="errors.address.firstObject:has-error"}}>
      <label for="settings-address" class="col-sm-2 control-label">
        Adres
      </label>
      <div class="col-sm-5">
        {{textarea valueBinding="address" class="form-control" id="settings-address" rows=3}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.address.firstObject}}</span>
      </div>
    </div>

    <div class="form-group" {{bind-attr class="errors.vatin.firstObject:has-error"}}>
      <label for="settings-vatin" class="col-sm-2 control-label">
        NIP
      </label>
      <div class="col-sm-5">
        {{input valueBinding="vatin" class="form-control" id="settings-vatin"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.vatin.firstObject}}</span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Inne</legend>

    <div class="form-group" {{bind-attr class="errors.numerationType.firstObject:has-error"}}>
      <label for="settings-numeration-type" class="col-sm-2 control-label">
        Typ numeracji faktur
      </label>
      <div class="col-sm-5">
        {{view Ember.Select class="form-control" contentBinding="numerationTypes.content" optionValuePath="content.code" optionLabelPath="content.name" valueBinding="numerationTypeCode" id="settings-numeration-type"}}
      </div>
      <div class="col-sm-5">
        <span class="help-block">{{errors.numerationType.firstObject}}</span>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" {{action "save"}} {{bind-attr disabled="model.isSaving"}}>Zapisz ustawienia</button>
      {{link-to "Anuluj" "index" class="btn btn-default" activeClass=null}}
      {{#view "export-button" class="btn btn-default"}}Eksportuj dane{{/view}}
      {{#view "import-button" class="btn btn-default btn-upload"}}Importuj dane{{/view}}
    </div>
  </div>
</form>
